
.grid {
    display: grid;
}

.grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
}

.grid-2 {
    grid-template-columns: auto 1fr;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-row-4 {
    grid-template-rows: repeat(3, 1fr);
}

.grid-row-3 {
    grid-template-rows: repeat(3, 1fr);
}