@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://elixir-ui.netlify.app/Components/elixir.css");
@import url('/styles/flex/flex.css');
@import url('/styles/grid/grid.css');
@import url('/styles/navbar/navbar.css');
@import url('/styles/header.css');
@import url('/styles/section.css');
@import url('/styles/footer.css');

:root {
    --overlay-text-color: #2842581a;
    --overlay-bg-color: rgba(0,0,0,0.5);
    --secondary-color: #274156;
    --secondary-active-color: #1e3344;
}

html {
    font-family: 'Open Sans', sans-serif;
}

*, *::after, *::before {
    font-family: inherit;
}

.display-none {
    display: none;
}

.text-light {
    color: var(--bg-card-color);
}

.btn-light {
    background-color: var(--bg-card-color);
    border-color: var(--bg-card-color);
    color: var(--text-color)
}

.btn-light:hover {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    color: var(--text-color);
}

.btn-light.btn-link {
    color: var(--bg-card-color);
    background-color: transparent;
    border: none;
}

.btn-light.btn-link:hover {
    color: var(--primary-bg-color);
}